<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantillaPrincipal">
<head>
<meta charset="utf-8">
<title>Nueva Persona</title>
</head>
<body>
	<div layout:fragment="contenidoPaginas">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Nueva Persona</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="./">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Nueva
					Persona</li>
			</ol>
		</div>
		<form th:action="@{/guardarpersona}" th:object="${nuevaPersona}"
			method="post">
			<div class="form-group">
				<label for="txtCedula">Cedula</label> <input type="text"
					class="form-control" id="txtCedula" th:field="*{cedula}"
					placeholder="Ingrese el numero de cedula">
			</div>
			<div class="form-group">
				<label for="txtNombre">Nombre</label> <input type="text"
					class="form-control" id="txtNombre" th:field="*{nombrePersona}"
					placeholder="Ingrese los nombres">
			</div>
			<div class="form-group">
				<label for="txtApellido">Apellido</label> <input type="text"
					class="form-control" id="txtApellido" th:field="*{apellidoPersona}"
					placeholder="Ingrese los apellidos">
			</div>
			<div class="form-group">
				<label for="txtTelefono">Telefono</label> <input type="text"
					class="form-control" id="txtTelefono" th:field="*{telefonoPersona}"
					placeholder="Ingrese el telefono">
			</div>
			<div class="form-group">
				<label for="txtEmail">Email</label> <input type="text"
					class="form-control" id="txtEmail" th:field="*{emailPersona}"
					placeholder="Ingrese el correo">
			</div>
			<div class="form-group">
				<label for="txtDireccion">Direccion</label> <input type="text"
					class="form-control" id="txtDireccion" th:field="*{direccionPersona}"
					placeholder="Ingrese el correo">
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
			<input type="hidden" th:field="*{idPersona}">
		</form>
	</div>
</body>
</html>
